.background {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.spacing {
  padding-bottom: 50px;
}

.button-color {
  background-color: #a5d175 !important;
}

.deleteMargin {
  width: 89px;
}

.dateMargin {
  width: 108px;
}
